:root {
    --color1: blueviolet;
    --color2: rgb(172, 84, 255);
    --color3: rgb(208, 157, 255);
    --color4: rgb(228, 200, 255);
    --color5: rgb(106, 0, 205);
}



* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.main-container {
    margin: 0 10%;
    justify-content: center;
}

.bg {
    background-image: url(../Images/plannerbg.jpg);
}

.topNav {
    display: flex;
    justify-content: space-around;
    background-color: var(--color1);
    min-height: 30px;
}

.topNav p {
    align-content: center;
}
.mid {
    display: flex;
    height: 600px;
}

.RightMenu {
    min-width: 20%;
    background-color: var(--color2);     
}

.Content {
    min-width: 60%;
    background-color: var(--color3);
}

.LeftMenu {
    min-width: 20%;
    background-color: var(--color4);
}

.footer {
    background-color: var(--color5);
    min-height: 10vh;
}